@model IEnumerable<MvcMovie.Models.HeThongPhanPhoi>

@{
    ViewData["Title"] = "Danh sách Hệ Thống Phân Phối";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>MaHTPP</th>
            <th>TenHTPP</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var htpp in Model)
    {
        <tr>
            <td>@htpp.MaHTPP</td>
            <td>@htpp.TenHTPP</td>
            <td>
                <a href="@Url.Action("Details", "HeThongPhanPhoi", new { id = htpp.MaHTPP })">Chi tiết</a>
            </td>
        </tr>
    }
    </tbody>
</table>
