@model MvcMovie.Models.Employee

<h2>Thêm Nhân Viên</h2>

<form asp-action="Create" method="post">
    <label>Person ID</label>
    <input asp-for="PersonId" /><br />

    <label>Full Name</label>
    <input asp-for="FullName" /><br />

    <label>Address</label>
    <input asp-for="Address" /><br />

    <label>Employee ID</label>
    <input asp-for="EmployeeId" /><br />

    <label>Age</label>
    <input asp-for="Age" type="number" /><br />

    <button type="submit">Lưu</button>
</form>
